<footer class="footer">
    <h3 class="center">If you have any complaints, queries or compliments, mail us <a class="mail-link"
      style="color: blanchedalmond;"
        href="mailto:summedhapoonia@icloud.com">here</a></h3>
    <small class="center"> &copy; E-Ramu: Restaurant Manager 2021</small>
  </footer>