<div >
        <nav id="navbar">
          <div id="logo">
            <img src="photos/logo.jpg" alt="E-Ramu.com">
          </div>

          <ul>
            <li class="item"><a href="index">Home</a></li>
            <li class="item"><a href="services">Services</a></li>
            <li class="item"><a href="Login">Log In</a></li>
            <li class="item"><a href="Sign_up">Sign Up</a></li>
            <li class="item"><a class="mail-link"
              href="mailto:summedhapoonia@icloud.com">Contact Us</a></li>
          </ul>

        </nav>
      </div>